/* line 3, src/scss/_config.scss */
body {
  overflow-x: hidden; }

@media screen and (min-width: 575px) {
  /* line 6, src/scss/_config.scss */
  .small {
    display: none; } }

/* line 11, src/scss/_config.scss */
.hamburgerOpened {
  max-height: 100%;
  overflow-y: hidden; }

/* line 52, src/scss/_config.scss */
.container {
  display: grid;
  margin: 0 auto; }
  @media screen and (max-width: 575px) {
    /* line 52, src/scss/_config.scss */
    .container {
      grid-template-columns: 1fr;
      max-width: 80%; } }
  @media screen and (min-width: 575px) and (max-width: 767px) {
    /* line 52, src/scss/_config.scss */
    .container {
      grid-template-columns: 1fr;
      max-width: 850px; } }
  @media screen and (min-width: 768px) and (max-width: 1100px) {
    /* line 52, src/scss/_config.scss */
    .container {
      grid-template-columns: repeat(2, 1fr);
      max-width: 1000px; } }
  @media screen and (min-width: 1101px) and (max-width: 1300px) {
    /* line 52, src/scss/_config.scss */
    .container {
      grid-template-columns: repeat(2, 1fr);
      max-width: 1200px; } }

/* line 72, src/scss/_config.scss */
img {
  max-width: 100%; }

@keyframes fadeIn {
  from {
    opacity: 0;
    top: -150px; }
  to {
    opacity: 1;
    top: 0; } }

@keyframes x {
  0% {
    left: -100%; }
  100% {
    left: 0; } }

@keyframes y {
  0% {
    right: 80%; }
  100% {
    right: 10px; } }

/* line 3, src/scss/geral/_topo.scss */
body.scrolled header {
  z-index: 999;
  backdrop-filter: blur(24px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 20px;
  animation: fadeIn 0.5s ease-in-out; }
  @media screen and (max-width: 575px) {
    /* line 3, src/scss/geral/_topo.scss */
    body.scrolled header {
      padding: 0; } }

/* line 19, src/scss/geral/_topo.scss */
body header nav.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #040405; }
  @media screen and (max-width: 575px) {
    /* line 19, src/scss/geral/_topo.scss */
    body header nav.header {
      padding-top: 10px;
      padding-bottom: 10px;
      justify-content: center;
      gap: 20px; } }
  /* line 32, src/scss/geral/_topo.scss */
  body header nav.header a {
    color: #fff;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1rem; }
    /* line 33, src/scss/geral/_topo.scss */
    body header nav.header a#dev {
      text-indent: -9999px;
      display: block;
      background-size: contain;
      background-image: url("/img/G.svg");
      background-position: center;
      width: 45px;
      height: 45px; }
  /* line 49, src/scss/geral/_topo.scss */
  body header nav.header .hamburger-button {
    display: none; }
    @media screen and (max-width: 768px) {
      /* line 49, src/scss/geral/_topo.scss */
      body header nav.header .hamburger-button {
        display: block;
        height: fit-content; }
        /* line 52, src/scss/geral/_topo.scss */
        body header nav.header .hamburger-button.opened {
          animation: y 0.5s linear;
          position: fixed;
          right: 10px;
          z-index: 10; }
          /* line 57, src/scss/geral/_topo.scss */
          body header nav.header .hamburger-button.opened span {
            border-color: transparent; }
            /* line 59, src/scss/geral/_topo.scss */
            body header nav.header .hamburger-button.opened span::after {
              transform: rotate(135deg);
              top: 0; }
            /* line 63, src/scss/geral/_topo.scss */
            body header nav.header .hamburger-button.opened span::before {
              transform: rotate(-135deg);
              top: 0; }
        /* line 71, src/scss/geral/_topo.scss */
        body header nav.header .hamburger-button span {
          display: block;
          width: 25px;
          height: 1px;
          border-bottom: 2px solid #fff;
          position: relative; }
          /* line 77, src/scss/geral/_topo.scss */
          body header nav.header .hamburger-button span::after, body header nav.header .hamburger-button span::before {
            content: "";
            display: block;
            border-bottom: 2px solid #fff;
            width: 25px;
            height: 1px;
            position: absolute;
            transition: all 0.5s; }
          /* line 87, src/scss/geral/_topo.scss */
          body header nav.header .hamburger-button span::after {
            top: -7px; }
          /* line 90, src/scss/geral/_topo.scss */
          body header nav.header .hamburger-button span::before {
            top: 7px; } }
  /* line 96, src/scss/geral/_topo.scss */
  body header nav.header .header-menu {
    display: flex;
    gap: 50px; }
    @media screen and (max-width: 575px) {
      /* line 96, src/scss/geral/_topo.scss */
      body header nav.header .header-menu {
        flex-direction: column; } }
    /* line 104, src/scss/geral/_topo.scss */
    body header nav.header .header-menu.hamburger.opened {
      animation: x linear 0.5s;
      position: fixed;
      left: 0;
      top: 60px;
      height: 50vh;
      background-color: #000000;
      width: 100vw;
      padding-top: 60px;
      gap: 20px;
      align-items: flex-start; }
    @media screen and (max-width: 575px) {
      /* line 119, src/scss/geral/_topo.scss */
      body header nav.header .header-menu.hamburger:not(.opened) {
        display: none; } }
    @media screen and (max-width: 575px) {
      /* line 124, src/scss/geral/_topo.scss */
      body header nav.header .header-menu li {
        text-align: center;
        width: 100%; } }
    /* line 129, src/scss/geral/_topo.scss */
    body header nav.header .header-menu li a {
      position: relative; }
      @media screen and (max-width: 575px) {
        /* line 129, src/scss/geral/_topo.scss */
        body header nav.header .header-menu li a {
          font-size: 1.5625rem; } }
      /* line 134, src/scss/geral/_topo.scss */
      body header nav.header .header-menu li a::after {
        content: "";
        width: 0;
        opacity: 0;
        transition: all 0.5s; }
      /* line 140, src/scss/geral/_topo.scss */
      body header nav.header .header-menu li a:hover {
        color: #4ca4f2; }
        /* line 142, src/scss/geral/_topo.scss */
        body header nav.header .header-menu li a:hover::after {
          content: "";
          display: block;
          position: absolute;
          opacity: 1;
          bottom: -2px;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: #4ca4f2;
          transition: all 0.5s; }
    /* line 160, src/scss/geral/_topo.scss */
    body header nav.header .header-menu .contato ul li a {
      font-size: 0; }

/* line 4, src/scss/_geral.scss */
body {
  background-color: #000000; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, src/scss/_reset.scss */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 95, src/scss/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

/* line 108, src/scss/_reset.scss */
body {
  line-height: 1; }

/* line 111, src/scss/_reset.scss */
ol,
ul {
  list-style: none; }

/* line 115, src/scss/_reset.scss */
blockquote,
q {
  quotes: none; }

/* line 119, src/scss/_reset.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

/* line 126, src/scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 2, src/scss/_middle.scss */
body.scrolled {
  padding-top: 50px; }

/* line 5, src/scss/_middle.scss */
body .introducao {
  padding-top: 60px;
  text-align: center; }
  /* line 10, src/scss/_middle.scss */
  body .introducao h1 {
    color: #4ca4f2;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 2rem; }
  /* line 15, src/scss/_middle.scss */
  body .introducao p {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin-top: 0.5em; }
  @media screen and (max-width: 575px) {
    /* line 20, src/scss/_middle.scss */
    body .introducao img {
      display: none; } }
  /* line 25, src/scss/_middle.scss */
  body .introducao h2 {
    margin-top: 2.5em;
    color: #1664a8;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 1.5625rem; }

/* line 32, src/scss/_middle.scss */
body .experiencia {
  padding-top: 50px; }
  /* line 36, src/scss/_middle.scss */
  body .experiencia h2 {
    color: #4ca4f2;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 1.5625rem; }
  /* line 41, src/scss/_middle.scss */
  body .experiencia .experiencia-texto {
    margin-top: 1em;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1rem; }
  /* line 47, src/scss/_middle.scss */
  body .experiencia .empresa {
    background-color: #09090b;
    backdrop-filter: blur(64px);
    margin-bottom: 20px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #4ca4f2;
    margin-top: 2.5em; }
    /* line 55, src/scss/_middle.scss */
    body .experiencia .empresa span {
      color: #4ca4f2;
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      font-size: 1rem; }
      /* line 56, src/scss/_middle.scss */
      body .experiencia .empresa span.empresa-ano {
        font-size: 0.8125rem; }
    /* line 63, src/scss/_middle.scss */
    body .experiencia .empresa h3 {
      color: #1664a8;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: 1rem; }
    /* line 68, src/scss/_middle.scss */
    body .experiencia .empresa p {
      color: #fff;
      margin-top: 0.5em;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-size: 0.875rem; }
    /* line 74, src/scss/_middle.scss */
    body .experiencia .empresa .empresa-habilidades {
      margin-top: 1em;
      display: flex;
      flex-wrap: wrap;
      gap: 10px; }
      /* line 79, src/scss/_middle.scss */
      body .experiencia .empresa .empresa-habilidades li {
        color: #4ca4f2;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 0.875rem;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #4ca4f2; }
