//fontes
$font-size-1: 0.8125rem;
$font-size-2: 0.875rem;
$font-size-3: 1rem;
$font-size-4: 1.5625rem;
$font-size-5: 1.875rem;
$font-size-6: 1.8125rem;
$font-size-7: 2rem;

//espacamento entre letras
$letter-spacing-1: 0;
$letter-spacing-2: $letter-spacing-1;
$letter-spacing-3: $letter-spacing-1;
$letter-spacing-4: $letter-spacing-1;
$letter-spacing-5: $letter-spacing-1;

@mixin extraLight {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
}

@mixin light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

@mixin regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

@mixin medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

@mixin bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

@mixin black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}
.subtitulo {
  color: $color2;
  @include bold;
  font-size: $font-size-4;
}
